<div class="form-group" [formGroup]="form">
    <div class="form-group">
        <label for="oldPass">Old Password</label>
        <input type="text" id="oldPass" class="form-control" formControlName="oldPass">
        <div class="alert alert-danger" *ngIf="OldPass.invalid && OldPass.touched">
            <div *ngIf="OldPass.errors.required">Old password is required.</div>
            <div *ngIf="OldPass.errors.isPasswordUnique">Old password is not valid.</div>
        </div>
    </div>
    <div formGroupName="newAndConfirm">
        <div class="form-group">
            <label for="newPass">New Password</label>
            <input type="text" id="newPass" [ngClass]="{
                    'form-control': true,
                    'alert-border': NewAndConfirm.errors != null
                }" formControlName="newPass">
            <div class="alert alert-danger" *ngIf="NewPass.invalid && NewPass.touched">
                New password is required.
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPass">Confirm Password</label>
            <input type="text" id="confirmPass" [ngClass]="{
                'form-control': true,
                'alert-border': NewAndConfirm.errors != null
            }" formControlName="confirmPass">
            <div class="alert alert-danger" *ngIf="ConfirmPass.touched && ConfirmPass.invalid">
                Confirm password is required.
            </div>
            <div class="alert alert-danger"
                *ngIf="NewPass.valid && ConfirmPass.valid && NewAndConfirm.invalid && NewAndConfirm.errors != null">
                Entry Passwords do not match.
            </div>
        </div>
    </div>
    <button class="btn btn-primary">Change Passowrd</button>
</div>